ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}    
    li {
        float: left;
    }
        
    li a {
        display: block;
        color: rgba(0,255,0,.70);
        text-align: center;
        text-emphasis: bold;
        padding: 14px 16px;
        text-decoration: none;
    }
    li a.button{
        display: none;
    }
    li a.icon {
        display: none;
      }
    
        li a:hover {
            background-color: #111;
        }

    .bugs{
        float: right;
        background-color: rgba(255, 0,0, 0.7);
    }
        .bugs a
        {
            color:rgba(255, 255, 255, 1) !important;
        }
  
        #myLinks {
            display:block;
          }
body {
        background-color: green;
        background-size: cover;
}
