body{
    background-color:black;
}
ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    text-align: center;
}   
    li a {
       display: block;
        color: rgba(0,255,0,.70);
        text-align: center;
        text-emphasis: bold;
        padding: 14px 16px;
        text-decoration: none;
    }
    li a.icon {
        background: rgba(0,255,0,.70);
        display: inline-block;
        color: rgba(255,255,255,.70);
        padding: 14px 16px;
      }
    
        li a:hover {
            background-color: #111;
        }
    .bugs{
   
        background-color: rgba(255, 0,0, 0.7);
    }
        .bugs a
        {
            color:rgba(255, 255, 255, 1) !important;
        }
        #navitems {
            display: none;
          }