    
    .leftmid {
        top: 30vh;
        left: 50vw;
        transform: translate(-50%, -50%);
        position: absolute;
    }
    .mid {
        top: 60vh;
        left: 50vw;
        transform: translate(-50%, -50%);
        position: absolute;
    }
    .rightmid {
    top: 90vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    position: absolute;
    
    }

    .tbody {
        height: 20vh;
        width: 75vw;
        color: rgba(255, 255, 255, 0.7);
        background: linear-gradient(180deg, white 10%,black 10%);
        outline-style: solid ;
        outline-color: white;
        padding-top: 0px;
        margin-top: 50px;
        margin-bottom: 10vh;
        
}

        p   {
            font-size:2.5vmin;
            margin-left: 10px;
            margin-right: 10px;
        }