

  .middle {
    top: 40vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    position: absolute;
  }
  .mid {
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    position: absolute;
  }
  .leftmid {
    top: 50vh;
    left: 20vw;
    transform: translate(-50%, -50%);
    position: absolute;
    }
  .rightmid {
    top: 50vh;
    left: 80vw;
    transform: translate(-50%, -50%);
    position: absolute;
    }