@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: black;
        }    
        li {
            float: left;
        }

        .bugs{
            float: right;
            background-color: rgba(255, 0,0, 0.7);
        }
        .bugs a
        {
            color:rgba(255, 255, 255, 0.7) !important;
        }
            
        li a {
            display: block;
            color: rgba(0,255,0,.70);
            text-align: center;
            text-emphasis: bold;
            padding: 14px 16px;
            text-decoration: none;
        }
            
        li a:hover {
            background-color: #111;
        }
        
        body {
                background-color: black;

                background-size: cover;
        }
     
        h1 {
                border-right: solid 3px rgba(0,255,0,.75);
                white-space: nowrap;
                overflow: hidden;    
                font-family: 'Source Code Pro', monospace;  
                font-size: 10vw;
                color: rgba(0,255,0,.70);
                text-align: center;
                margin-bottom: 10px;
                margin-left: 10px;
                margin-right: 10px;
                animation: animated-text 4s steps(29,end) 1s 1 normal both,
                    animated-cursor 600ms steps(29,end) infinite;
        }

        h2 {
                white-space: nowrap;
                overflow: hidden;    
                font-family: 'Source Code Pro', monospace;  
                font-size: 2vmin;
                color: rgba(0,255,0,.70);
                text-align: center;
                margin-left: 10px;
                margin-right: 10px;
        }

        p   {
            font-size: 2vmin;
            margin-left: 10px;
            margin-right: 10px;
        }
        ptitle {
            font-size: 2vmin;
            margin-left: 10px;
            margin-right: 10px;
            color: rgba(0,0,0,.70);
        }
        .tbody {
                height: 40vh;
                width: 25vw;
                font-size: 2vmin;
                color: rgba(255, 255, 255, 0.7);
                background: linear-gradient(180deg, white 10%,black 10%);
                outline-style: solid ;
                outline-color: white;
                padding-top: 0px;
                margin-top: 0px;
                word-wrap: break-word;
        }
                .tbody:hover
                {
                    box-shadow: 0 6px 12px 12px rgba(0,255,0,0.5);
                    color: rgba(0,255,0,0.575);
                }
        * {
            box-sizing: border-box;
            }

        .wrapper {
            margin-top: 10vh;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
            } 

        .projcard {
            width: 280px;
            height: 360px;
            border-radius: 15px;
            padding: 1.5rem;
            background: black;
            position: relative;
            padding-top: 2vh;
            margin-bottom: 10vh;
            margin-left: 3.33vh;
            word-wrap: break-word;
            overflow: hidden;
            border-radius: 7.5vmin;
        }
            .projcard:hover {
                transform: translateY(20px);
                box-shadow: 0 6px 12px 12px rgba(255,255,255,0.5);
                    color: rgba(255,255,255.575);
            }
            .projcard:hover:before {
                opacity: 1;
            }
            .projcard:hover .info {
                opacity: 1;
                transform: translateY(0px);
            }
            .projcard:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: 100%;
                height: 100%;
                border-radius: 15px;
                background: rgba(0, 0, 0, 0.6);
                z-index: 2;
                transition: 0.5s;
                opacity: 0;
            }
            .projcard img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 1.5vmin;
            }
            .projcard .info {
                position: relative;
                z-index: 3;
                color: white;
                opacity: 0;
                transform: translateY(15vmin);
                transition: 0.5s;
            }
            .projcard .info h2 {
                font-weight:bold;
                font-family:Source Code Pro;
            }
            .projcard .info p {
                font-style: italic;
            }
            .projcard .info button {
                padding: 0.6rem;
                outline: none;
                border: none;
                border-radius: 3px;
                background: white;
                color: black;
                font-weight: bold;
                transition: 0.4s ease;
            }
    
                        
                            
        @keyframes animated-text{
                from{width: 0;}
                to{width: 80vw;}
        }
        @keyframes animated-cursor{
                from{border-right-color: rgba(0,255,0,.75);}
                to{border-right-color: transparent;}
        }
    