    
    .leftmid {
        top: 40vh;
        left: 50vw;
        transform: translate(-50%, -50%);
        position: absolute;
    }
    .mid {
        top: 60vh;
        left: 50vw;
        transform: translate(-50%, -50%);
        position: absolute;
    }
    .rightmid {
    top: 80vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    position: absolute;
    
    }

    .tbody {
        height: 15vh;
        width: 75vw;
        color: rgba(255, 255, 255, 0.7);
        background: linear-gradient(180deg, white 10%,black 10%);
        outline-style: solid ;
        outline-color: white;
        padding-top: 0px;
        margin-top: 50px;
        margin-bottom: 10vh;
}

        p   {
            font-size: 2.8vmin;
            margin-left: 10px;
            margin-right: 10px;
        }
        .wrapper {
            width: 70%;
            margin-left: 15%;
            margin-right: 15%;
            margin-top: 10%;
            display:grid;
            align-items: center;
            justify-content: center;
            justify-items: center;
            text-align: center;
            grid-template-columns: repeat(1,1fr);
            } 
            .projcard {
                width: 70vw;
                height: 60vh;
                position: relative;
                padding-top: 2vh;
                word-wrap: break-word;
                overflow: hidden;
                border-radius: 1.5vmin;
                margin-bottom: 15vh;
            }
                .projcard .info h2 {
                  font-weight:bold;
                  font-family:Source Code Pro;
                  font-size: 2em;
                }
                .projcard .info p {
                    font-style: italic;
                  font-size: 1.75em;
                }