ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    text-align: center;
}   
    li a {
       display: block;
        color: rgba(0,255,0,.70);
        text-align: center;
        text-emphasis: bold;
        padding: 14px 16px;
        text-decoration: none;
    }
    li a.icon {
        background: rgba(0,255,0,.70);
        display: inline-block;
        color: rgba(255,255,255,.70);
        padding: 14px 16px;
      }
    
        li a:hover {
            background-color: #111;
        }
    .bugs{
   
        background-color: rgba(255, 0,0, 0.7);
    }
        .bugs a
        {
            color:rgba(255, 255, 255, 1) !important;
        }
        #navitems {
            display: none;
          }

.twrapper{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10%;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 3%;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
}
    .t {
        text-align: left;
        width: 80vw;
        height: 40vh;
        margin-bottom: 5vh;
        display: inline-block;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 1);
        box-shadow: 0 0 0 0.4vmin rgba(255, 255, 255, 0.9); 
        }    
        
        h2.title {
            white-space: nowrap;
            overflow: hidden;    
            font-family: 'Source Code Pro', monospace;  
            font-size: 18px;
            color: rgba(0,255,0,.70);
            text-align: center;
            margin-left: 10px;
            margin-right: 10px;
        }            
            P.text{
                margin-left: 10px;
                margin-right: 10px;
                font-family: 'Roboto', sans-serif;
                color: rgba(255, 255, 255, 0.8);
                font-size: 16px;
                word-wrap: break-word;
            }

    .wrapper {
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 10%;
        display:grid;
        align-items: center;
        justify-content: center;
        justify-items: center;
        text-align: center;
        grid-template-columns: repeat(1,1fr);
        } 
            .projcard {
                width: 70vw;
                height: 60vh;
                position: relative;
                padding-top: 2vh;
                word-wrap: break-word;
                overflow: hidden;
                border-radius: 1.5vmin;
                margin-bottom: 15vh;
            }
                    .projcard .info h2 {
                    font-weight:bold;
                    font-family:Source Code Pro;
                    font-size: 2em;
                    }
                    .projcard .info p {
                        font-style: italic;
                    font-size: 1.75em;
                    }
                